/* HEADER */

/* .app-header {
  background-color: pink;
  color: var(--secondary-clr1);
  padding: 1em;
  display: flex;
  align-items: center;
} */

.app-header {
  background-image: var(--clr3);
  color: #ffffff;
  font-size: 1.3rem;
  height: 4.3rem;
  border-radius: 2.1rem;
  padding: 0 2em;
  margin-bottom: 20px;
  background-color: grey;
}

.logo {
  margin-block-start: 0;
  align-self:flex-start;
  margin-top: 1rem;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  text-align: left;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
}

.app-header .main-nav a:hover {
  color: var(--clr4);
  border-radius: 1.25rem;
  transition: .4s;
}

/* .app-header .main-nav{

} */
/* mq */

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}


.sprite .title{
  /* background-image: url(https://ssl.gstatic.com/gb/images/p1_d9c8f691.png); */
  background-image: url(../../img/logos.png);
  height: 64px;
  width: 64px;
  background-position-y: 963px;
  
}
 .sprite.keep{
  /* background-image: url(https://ssl.gstatic.com/gb/images/p1_d9c8f691.png); */
  background-image: url(../../img/logos.png);
  height: 64px;
  width: 64px;
  background-position-y: 1719px;
}

 .sprite.books{
  /* background-image: url(https://ssl.gstatic.com/gb/images/p1_d9c8f691.png); */
  background-image: url(../../img/logos.png);
  height: 64px;
  width: 64px;
  background-position-y: 754px;
}
 .sprite.mail{
  /* background-image: url(https://ssl.gstatic.com/gb/images/p1_d9c8f691.png); */
  background-image: url(../../img/logos.png);
  height: 64px;
  width: 64px;
  background-position-y: 134px;
}

.sprite.about{
  background-image: url(../../img/logos.png);
  height: 64px;
  width: 64px;
  background-position-y: 547px;
}