.edit-note-box{
    padding: 0.3em;
    width: 100%;
    min-height: 200px;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0px rgb(229, 231, 229), -3px -3px 6px 0px rgb(229, 231, 229);
}

.note-edit-btns >* {
    font-size: 1em;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;
}

.edit-note-box input.title-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.3rem;
}

.edit-note-box textarea.note-input {
    font-family: open-sans;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

.edit-note-box hr {
    background-color: grey;
    border: 0.5px solid gray;
}
