@import url(./mail-list.css);
@import url(./mail-filter.css);
@import url(./search-form.css);
@import url(./mail-details.css);

main.mail-layout{
    
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--mail-cls12);
    margin-block-start: 0;
}

.mail-layout .table-container{
    height: calc(94vh);
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.table-container .mail-nav{
    height: 100%;
    width: 50px;

    background-color: var(--mail-cls12);
}

.table-container .mail-table{
    
    height: 100%;
    width: calc(100% - 50px);

    margin-inline: 15px 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    background-color: var(--clr1);
}

.table-container .mail-table header{
    height: 6vh;
    width: 100%;
    
    padding-block: 25px 0px;
    padding-inline: 15px 15px;
}