.mail-list{
    display: table;

    margin-block-start: 25px;
    margin-inline: 25px;
}

.mail-list .mail-sender{

}


.mail-list .mail-title{

}

.mail-list .attach-icon{
    
}

.mail-list .mail-date{
    
}