.mail-list .mail-preview{
    display: grid;
    grid-template-columns: repeat(10,minmax(75px,1fr));
    grid-template-rows: minmax(1rem,2.8rem);
    align-items: center;

    margin: 0;
    padding-inline: 15px 15px;
    border-top: 1px solid var(--mail-cls3);
    box-shadow: none;
    cursor: auto;
}

.mail-list .mail-preview:hover{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.35), 0px -1px 0.5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.mail-list .mail-preview >*{
    font-size: 1.2rem;
}

.mail-preview .mail-sender{
    grid-column: 1/1;
    grid-row: 1/1;
}


.mail-preview .mail-title{
    grid-column: 2/7;
    grid-row: 1/1;
}

.mail-preview .attach-icon{
    grid-column: 9/9;
    grid-row: 1/1;
    
    text-align: center;
}

.mail-preview .mail-date{
    grid-column: 10/11;
    grid-row: 1/1;

    text-align: center;
}