:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(240, 240, 240);
  --clr3: rgb(155, 155, 155);
  --clr4: rgb(96, 96, 96);
  --clr5: rgb(0, 0, 0);


  --secondary-clr1: rgb(88, 201, 58);
  --secondary-clr2: rgb(122, 7, 70);

  --mail-cls1: rgb(7, 0, 66);
  --mail-cls2: rgb(36, 0, 56);
  --mail-cls3: rgb(0, 32, 51);
  --mail-cls4: rgb(15, 0, 146);
  --mail-cls5: rgb(89, 0, 137);
  --mail-cls6: rgb(0, 86, 136);
  --mail-cls7: rgb(22, 0, 220);
  --mail-cls8: rgb(148, 0, 227);
  --mail-cls9: rgb(0, 146, 230);
  --mail-cls10: rgb(184, 176, 254);
  --mail-cls11: rgb(242, 218, 255);
  --mail-cls12: rgb(219, 242, 255);

} 